:root {
    --background: #121212;
    --text: #B0B0B0;
    --highlighted-text: #00FFC6;
    --nav-footer: #1E1E1E;
    --box-line: #00AEEF;
    --header-text: #00AEEF;
    --button: #00FFC6;
    --after-hover-text: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica(sans-serif);
    line-height: 1.6;
    color: var(--text);
    background-color: var(--background);
}

.logo {
    font-family: Helvetica(sans-serif);
    font-size: 32px;
    font-weight: bold;
    color: var(--text);
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    background: none;
    border: none;
}

.logo:hover {
    color: var(--highlighted-text);
    background: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-footer);
    padding: 1px;
    border-bottom: 2px solid var(--text);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 10px;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: var(--background);
}

nav a:hover {
    color: var(--highlighted-text);
    background-color: var(--text);
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

h2 {
    color: var(--header-text);
    margin-bottom: 20px;
}

.training-card {
    background: var(--nav-footer);
    padding: 20px;
    border: 2px solid var(--box-line);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.training-card h3 {
    color: var(--highlighted-text);
    margin-bottom: 10px;
}

.training-card ul {
    margin-left: 20px;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background: var(--nav-footer);
    color: var(--text);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-top: 2px solid var(--text);
}

footer:hover {
    color: var(--highlighted-text);
}
